@import "tailwindcss";
@import "tw-animate-css";
:root {
  --background: oklch(0.9860 0.0019 84.5564);
  --foreground: oklch(0.3576 0.0238 264.2114);
  --card: oklch(0.9676 0.0071 97.3576);
  --card-foreground: oklch(0.3103 0.0197 264.2318);
  --popover: oklch(0.9828 0.0060 106.5103);
  --popover-foreground: oklch(0.3103 0.0197 264.2318);
  --primary: oklch(0.7694 0.0834 135.4253);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8809 0.0134 247.9797);
  --secondary-foreground: oklch(0.4081 0.0184 264.3488);
  --muted: oklch(0.9278 0.0074 84.5708);
  --muted-foreground: oklch(0.5579 0.0218 229.3239);
  --accent: oklch(0.8214 0.0362 156.3358);
  --accent-foreground: oklch(0.3576 0.0238 264.2114);
  --destructive: oklch(0.7132 0.1327 10.4190);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8989 0.0154 106.7056);
  --input: oklch(0.9462 0.0092 97.3880);
  --ring: oklch(0.7694 0.0834 135.4253);
  --chart-1: oklch(0.7561 0.1247 135.8514);
  --chart-2: oklch(0.7958 0.0808 66.2281);
  --chart-3: oklch(0.7370 0.0611 230.2504);
  --chart-4: oklch(0.8672 0.0703 98.1281);
  --chart-5: oklch(0.7340 0.0732 314.3405);
  --sidebar: oklch(0.9423 0.0085 157.0813);
  --sidebar-foreground: oklch(0.3103 0.0197 264.2318);
  --sidebar-primary: oklch(0.7146 0.1239 135.9281);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7908 0.0330 196.5032);
  --sidebar-accent-foreground: oklch(0.3576 0.0238 264.2114);
  --sidebar-border: oklch(0.8512 0.0145 156.9159);
  --sidebar-ring: oklch(0.7694 0.0834 135.4253);
  --font-sans: Glory, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Alegreya, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0 0 / 0.10), 0px 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2586 0.0207 264.1164);
  --foreground: oklch(0.8986 0.0173 97.5102);
  --card: oklch(0.2953 0.0262 248.7314);
  --card-foreground: oklch(0.9327 0.0115 97.4220);
  --popover: oklch(0.2983 0.0313 275.5769);
  --popover-foreground: oklch(0.9327 0.0115 97.4220);
  --primary: oklch(0.6203 0.1098 135.9620);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3645 0.0277 248.5929);
  --secondary-foreground: oklch(0.8547 0.0117 97.4401);
  --muted: oklch(0.3294 0.0214 264.2228);
  --muted-foreground: oklch(0.6854 0.0185 229.1283);
  --accent: oklch(0.4937 0.0560 154.6726);
  --accent-foreground: oklch(0.8986 0.0173 97.5102);
  --destructive: oklch(0.5635 0.1883 16.7307);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4034 0.0277 264.1964);
  --input: oklch(0.3928 0.0305 248.6088);
  --ring: oklch(0.6203 0.1098 135.9620);
  --chart-1: oklch(0.6972 0.1528 136.4418);
  --chart-2: oklch(0.7296 0.1072 64.7649);
  --chart-3: oklch(0.6616 0.0780 231.3380);
  --chart-4: oklch(0.8145 0.0963 98.2914);
  --chart-5: oklch(0.6430 0.0998 314.0472);
  --sidebar: oklch(0.2336 0.0186 248.6300);
  --sidebar-foreground: oklch(0.9327 0.0115 97.4220);
  --sidebar-primary: oklch(0.5281 0.1025 136.1370);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5509 0.0454 195.9122);
  --sidebar-accent-foreground: oklch(0.8986 0.0173 97.5102);
  --sidebar-border: oklch(0.3645 0.0277 248.5929);
  --sidebar-ring: oklch(0.6203 0.1098 135.9620);
  --font-sans: Glory, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Alegreya, ui-serif, serif;
  --font-mono: monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 6px 12px 0px hsl(0 0 0 / 0.20);
  --shadow-xs: 0px 6px 12px 0px hsl(0 0 0 / 0.20);
  --shadow-sm: 0px 6px 12px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow: 0px 6px 12px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow-md: 0px 6px 12px 0px hsl(0 0 0 / 0.40), 0px 2px 4px -1px hsl(0 0 0 / 0.40);
  --shadow-lg: 0px 6px 12px 0px hsl(0 0 0 / 0.40), 0px 4px 6px -1px hsl(0 0 0 / 0.40);
  --shadow-xl: 0px 6px 12px 0px hsl(0 0 0 / 0.40), 0px 8px 10px -1px hsl(0 0 0 / 0.40);
  --shadow-2xl: 0px 6px 12px 0px hsl(0 0 0 / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}